{% extends 'base.html'%}
{%block usersactive%}active{%endblock%}
{%block body%}
<div class="container mt-2">
        <a href="/users/addpost">
            <button type="button float-right" class="btn btn-dark">Add Post</button>
        </a>

</div>

<div class="container mt-2 ">
    {%for item in posts_data %}
    <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Blog</strong>
          <h3 class="mb-0">{{item.title}}</h3>
          <div class="mb-1 text-muted">{{item.created_at}}</div>
          <p class="card-text mb-auto">{{item.text|truncatechars:100}}</p>
          <a href="/users/blogpost/{{item.posts_id}}" class="stretched-link">Continue reading</a>
        </div>
          <div class="col-auto d-none d-lg-block">

          </div>
      </div>
    </div>
    {%endfor%}
</div>
{%endblock%}