{%extends 'base.html'%}
{%block productsactive%}active{%endblock%}
{%block body%}
<div class="container mt-2">

        <a href="/products/addproduct">
            <button type="button float-right" class="btn btn-dark">Add Product</button>
        </a>

</div>
<div class="container mt-2">
    {%for item in productsdata %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{item.product_name}}</h5>
            <p class="card-text">{{item.weight}}</p>
            <p class="card-text">{{item.price}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {% endfor %}
</div>
{%endblock%}